/*headings*/
.h-title {text-align: center;text-transform:uppercase;font:normal 25px 'roboto';margin: 0 0 3%;padding: 0 25px 20px;color:#000;border-bottom:2px solid #66e6dc;display: inline-block;position: relative;}
.h-title.white {color:#fff;}
.h-title:after {content:'';position: absolute;left: 0;right: 0;bottom: -5px;width: 10px;height: 10px;background:#66e6dc;margin:auto;-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);}


/*backgrounds*/
.about {background: url(../img/about.jpg) no-repeat bottom center / cover;}
.skills {background: url(../img/skills.jpg) no-repeat bottom center / cover;}




/*buttons*/
a.buttonn {display: block; position: absolute;left: 0;right: 0;z-index:9; color: #56D7C6; text-decoration: none; width: 250px; height: 50px; margin: 50px auto;}
a.buttonn .text {position: relative; top: -40px; font-family: 'roboto'; font-size: 20px; line-height: 1; letter-spacing: 1px; text-transform: uppercase;}
a.buttonn svg .outline {position: absolute; top: 0; left: 0; width: 100%; height: 100%; stroke: #56D7C6; stroke-width: 2px; fill: transparent;stroke-dasharray: 70 230; stroke-dashoffset: 60;-webkit-transition: 1s; -moz-transition: 1s; -o-transition: 1s; transition: 1s;}
a.buttonn:hover svg .outline {stroke-dashoffset: -350;}





/*ellipsis*/
.ellip {display: block; height: 100%; }
.ellip-line {display: inline-block; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; }
.ellip, .ellip-line {position: relative; overflow: hidden; max-width: 100%; }